@import "tailwindcss";
@layer utilities {
    .animate-in {
      animation-fill-mode: both;  
    }
    .slide-in-from-bottom {
     animation-name:slideInFromBottom ;

    }
    .duration-200 {
     animation-duration: 200ms;
    }
    .duration-700 {
     animation-duration: 700ms;
    }
    .delay-100 {
        animation-delay: 1OOms;
    }
    .delay-200 {
        animation-delay: 2OOms;
    }
    .delay-300 {
        animation-delay: 3OOms;
    }
}
@keyframes slideInFromTop {

    from {
        opacity: 0;
        transform: translateY(-1rem);

    }
    To {
        opacity: 1;
         transform: translateY(0);


    }
    
}
@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(1rem);

    }
    To {
        opacity: 1;
         transform: translateY(0);


    }
}